repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: check-added-large-files
    args: [--maxkb=2000]
  - id: check-ast
  - id: check-case-conflict
  - id: check-executables-have-shebangs
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: destroyed-symlinks
  - id: end-of-file-fixer
    files: \.(py|sh|rst|yml|yaml)$
  - id: mixed-line-ending
  - id: trailing-whitespace
    files: \.(py|sh|rst|yml|yaml)$
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.11.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2']
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: 1.5.1
  hooks:
  - id: pyproject-fmt
- repo: https://github.com/psf/black
  rev: 23.11.0
  hooks:
  - id: black
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.1.6
  hooks:
  - id: ruff
    args: [--fix]
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.7.0
  hooks:
  - id: mypy
    files: ^getjump/
    args: [--strict]
    additional_dependencies:
    - rich
    - types-beautifulsoup4
    - types-requests
    - types-pillow
# - repo: https://github.com/RobertCraigie/pyright-python
#   rev: v1.1.324
#   hooks:
#   - id: pyright
#     additional_dependencies:
#     - rich
#     - beautifulsoup4
#     - requests
#     - pillow
#     - pytest
- repo: https://github.com/murilo-cunha/mirrors-pyre
  rev: v0.9.18
  hooks:
  - id: pyre-check
    additional_dependencies:
    - pytest
    - rich
# - repo: https://github.com/hoefling/pre-commit-pytype
#   rev: 2023.7.21
#   hooks:
#   - id: pytype
#     args: []
- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.37.0
  hooks:
  - id: markdownlint
    exclude: ^.github/PULL_REQUEST_TEMPLATE.md
    args: [--disable=MD013]
