name: Test by manual

on:
  workflow_dispatch:
    inputs:
      url:
        required: true
        description: Target URL

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 1
      fail-fast: false
      matrix:
        python-version: ['3.10']
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
    - uses: actions/setup-python@v4
      with:
        cache: pip
        cache-dependency-path: poetry.lock
        python-version: ${{ matrix.python-version }}
    - uses: abatilo/actions-poetry@v2
    - run: poetry install --no-interaction
    - name: Test
      if: ${{ runner.os == 'Windows' }}
      run: poetry run task test
    - name: Test & publish code coverage
      if: ${{ runner.os != 'Windows' && env.CC_TEST_REPORTER_ID != '' }}
      uses: paambaati/codeclimate-action@v5.0.0
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
      with:
        coverageCommand: poetry run task test:ci
        coverageLocations: ${{github.workspace}}/cov.xml:coverage.py
        debug: true
